# fly.toml app configuration file generated for pauls-bach-misty-cloud-1784 on 2026-02-17T21:25:15-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pauls-bach-misty-cloud-1784'
primary_region = 'dfw'

[build]

[[mounts]]
  source = 'data'
  destination = '/app/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
